alembic==1.7.7
Babel==2.9.1
beautifulsoup4==4.10.0
click==8.0.4
Flask==2.0.3
Flask-Caching==1.10.1
Flask-JSON==0.3.4
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-Minify==0.37
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Static-Compress==1.0.3
greenlet==1.1.2
gunicorn==20.1.0
htmlmin==0.1.12
importlib-metadata==4.11.3
python-decouple==3.6
importlib-resources==5.4.0
itsdangerous==2.1.1
jac==0.18.0
Jinja2==3.0.3
jsmin==3.0.1
lesscpy==0.15.0
Mako==1.2.2
MarkupSafe==2.1.0
ordereddict==1.1
password-strength==0.0.3.post2
ply==3.11
psycopg2==2.9.3
pytz==2021.3
rcssmin==1.1.0
rjsmin==1.2.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
Werkzeug==2.0.3
xxhash==3.0.0
zipp==3.7.0
